@model IEnumerable<AssessmentDuncanS.Models.MessageListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!--Added alert button for message-->
@if (TempData.ContainsKey("SaveResult"))

{
    <div class="alert alert-success fade in" role="alert">
    @ViewBag.SaveResult
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
        @TempData["SaveResult"]
</div>
}
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentUTC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentUTC)
        </td>
        <!--anonymous classes inside action links will communicate with messagecontroller and select appropriate message-->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageID })
        </td>
    </tr>
}

</table>
